<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style-config.css">
    <title><%= title %></title>
</head>
<body>
    <section class="config-container">

        <div class="config-bar">

            <div class="buttons-config">
                <div class="title">
                    <p>Configuracion del usuario</p>
                </div>
                 <div class="button-config my-account">
                    <a href="">Mi cuenta </a>
                </div>
                 <div class="button-config ">
                    <a href="">Editar perfil</a>
                </div>
                 <div class="button-config ">
                    <a href="">Privacidad y seguridad</a>
                </div>
                 <div class="button-config ">
                    <a href="">Cerrar sesion</a>
                </div>
            </div>
        </div>

        <div class="config-forms">
            <div class="profile-form-container">
                <form class="profile-form" action="/profile/addProfile" method="POST">

                    <h3 class="title-form">Informacion del perfil</h3>

                    <div class="inputs-container">

                        <div class="first-section">
                            <label for="name"> Nombre</label>
                            <input type="text" name="name" placeholder="nombre de usuario..." class="field text">

                            <label for="phone"> Telefono </label>
                            <input type="text" name="phone" placeholder="numero de telefono..." class="field text">

                            <label for="work"> Empleo </label>
                            <input type="text" name="work" placeholder=" trabaja en..." class="field text">

                            <label for="cargo"> Cual es su cargo</label>
                            <input type="text" name="cargo" placeholder="cargo en su empleo..." class="field text">

                            <input type="hidden" class="token" name="_csrf" content="<%= _csrf %>">
                        </div>

                        <div class="second-section">
                            <label for="location">Ubicacion actual</label>
                            <input type="text" name="location" placeholder="lugar de residencia..." class="field text">

                            <label for="nacimiento"> Fecha de nacimiento</label>
                            <input type="date" name="birthday"  class="field date">

                            <label for="decription"> Descripcion</label>
                            <textarea name="description" placeholder="Describete brevemente..."  class="field textarea" ></textarea>
                        </div>
                    </div>
                    <div class="input-submit">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>

    </section>
</body>
</html>