 <!--<div class="profile-form-container socialNetworks">
        <form class="profile-form" >

            <h3 class="title-form" style="color: rgb(199, 196, 196);">Redes sociales</h3>
                <div class="inputs-containers">
                    <label for="facebook">Facebook :</label>
                    <input type="text" name="facebook" placeholder="Ingrese el enlace a su facebook..."   value="" class="field text">

                    <label for="twitter"> Twitter:  </label>
                    <input type="text" name="twitter" placeholder="Ingrese el enlace a su twitter..."  value="<%= profileData.trabajo %>" class="field text">

                    <label for="Instagram">Instagram: </label>
                    <input type="text" name="Instagram" placeholder="Ingrese el enlace a su Instagram..."   value="" class="field text">
                </div>

                <div class="input-submit " id="socialSubmit">
                    <input type="submit" class="send-button" value="enviar" >
                </div>
        </form>
    </div>-->  